.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.width50 {
  width: 50px;
}

.width100 {
  width: 100px;
}

 .links {
    margin: 40px 0;
    list-style-type: none
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

  .linkLine {
    background-color: white;
    width: 50px;
    height: 3px;
    transition:  width 0.3s ease-in-out;
  }

  /* .list:hover > .linkLine {
    width: 60px;
  } */

  .linkText {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  .socialIcons {
    display: flex;
    height: 40px;
    gap: 20px;
    margin: 40px 0;
  }

  .socialIcons svg {
    fill: #8F8F8F;
    transition: fill 0.3s ease-in-out; /* Add this line */
  }

  .socialIcons svg:hover {
    fill: white;
    cursor: pointer;
  }

.name {
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
}

.jobName {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 20px 0;
}

.about {
  color: rgba(255, 255, 255, 0.7) ;
}

.date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;

}

.highlight {
  color: white;
  font-weight: 600;
}

.jobPosition {
  color: white;
  font-weight: 700;
}

.jobDescription {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}

.experience {
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.experience:hover {
  background-color: rgba(154, 200, 205, 0.1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.projectHeader {
  font-size: 36px;
  display: flex;
  font-weight: 700;
  opacity: 0.9;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px 0;
}

.projectHeader::before,
.projectHeader::after {
  content: "";
  width: 200px;
  height: 5px;
  margin: 0 40px;
  background: white;
}

.projectHeader::before {
  left: 0;
}

.projectHeader::after {
  right: 0;
}

.projectContainer {
  display: flex;
  justify-content: center;
}

.leftArrow {
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-right: 30px solid white;
  display: flex;
  align-self: center;
  opacity: 0.5;
  cursor: pointer;
}


.rightArrow {
  width: 0;
  height: 0;
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 30px solid white;
  display: flex;
  opacity: 0.5;
  align-self: center;
  cursor: pointer;
}


@media (max-width: 968px) {
  .leftArrow, .rightArrow {
    display: none;
  }
}

.rightArrow, 
.leftArrow {
  transition: all 0.3s ease-in-out;
} 
.rightArrow:hover {
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 30px solid #1E0342;
  position: relative;
}

.rightArrow:hover::after {
  content: "";
  position: absolute;
  top: -150px;
  left: -20px;
  height: 0;
  border-top: 140px solid transparent;
  border-bottom: 140px solid transparent;
  border-left: 30px solid #9AC8CD;
  filter: blur(15px);
}

.leftArrow:hover {
  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-right: 30px solid #1E0342;
  position: relative;
}

.leftArrow:hover::after {
  content: "";
  position: absolute;
  top: -150px;
  right: -20px;
  height: 0;
  border-top: 140px solid transparent;
  border-bottom: 140px solid transparent;
  border-right: 30px solid #9AC8CD;
  filter: blur(15px);
}
.projectHighlight {
  margin: 0 auto;
  width: 60%;
  background: linear-gradient(to bottom, transparent, #1E0342);
  height: auto;
  position: relative;
  bottom: 0;
  transform: translateY(-160px);
  transition: all 0.3s ease-in-out;
}

.projectHighlight:hover {
  background: linear-gradient(to bottom, rgba(30, 3, 66, 0.5), rgba(255, 255, 255, 0));
    cursor: pointer;
}
.languages {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.languages:hover {
  filter: grayscale(0);
  opacity: 1;
}


.testimonials {
  transition: all 0.3s ease-in-out;
  padding: 30px;
  opacity: 0.7;
}

.testimonials:hover {
  background-color: rgba(154, 200, 205, 0.1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  opacity: 1;
}

.stars i {
  margin: 0 5px 10px 0px;
}

.contactMe {
  color: white !important;
  border-color: white !important;
  transition: all 0.3s ease-in-out;
  border-radius: none !important;
}

.contactMe:hover {
  background-color: white !important;
  color: #1E0342 !important;
  box-shadow: 0px 10px 15px rgba(30, 3, 66, 0.5);}